{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
          <h1>Авторизация</h1>
   {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
               <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith%}

<div>Новый пользователь? <a href="{{ url_for('register_page') }}">Зарегистрироваться</a></div>
<form action="" method="post">
    <div class="form-group">
    {{ form.csrf_token() }}
    {% for field in form if field.name != "csrf_token" %}
        <div>{{ field.label() }}</div>
        <div>{{ field}}</div>
    {% for error in field.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {% endfor %}
    </div>
</form>
      </div>
    </div>
</div>
{% endblock %}