{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
          <h1>Регистрация</h1>
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
               <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith%}

<form action="" method="post">
    {{ form.csrf_token() }}
    {% for field in form if field.name != "csrf_token" %}
    <div class="control-form">
        <div>
            {{ field.label() }}
        </div>
        <div>
           {{ field }}
        </div>

        {% for error in field.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>

    {% endfor %}

</form>


      </div>
    </div>
</div>
{% endblock %}